<footer id="main-footer">
    <div class="container-main">
        <div class="content-main-footer">
            <a href="https://www.instagram.com/habitatadultomayor?igsh=cTh3dnM1dm11Z3Uz" target="_blank" rel="noreferrer noopener"><img src="/ICON-INSTAGRAM.svg"
                    alt="icon-instagram"></a>
            <a href="https://www.facebook.com/HabitatAdultoMayor" target="_blank" rel="noreferrer noopener"><img src="/ICON-FACEBOOK.svg"
                    alt="icon-facebook"></a>
            <a href="https://wa.me/573206872012" target="_blank" rel="noreferrer noopener"><img src="/ICON-WPP.svg"
                    alt="icon-wpp"></a>
        </div>
    </div>
</footer>

<div class="btn-wpp-footer">
    <a href="#primer-paso" >Contáctanos</a>
</div>

<style>
    .btn-wpp-footer {
  display: none;
}
    footer#main-footer {
    background: #18786c;
    padding: 1% 0;
  }
  .content-main-footer {
    display: flex;
  }
  .content-main-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: anchor-center;
  }
  .content-main-footer a {
    width: 3%;
  }

  @media (width < 500px) {
    .content-main-footer a {
      width: 10%;
    }
    footer#main-footer {
      padding-bottom: 26%;
      padding-top: 8%;
    }
    .btn-wpp-footer {
    display: flex;
    background: #248f74;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    z-index: 1;
  }
  .btn-wpp-footer a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-left: 0px;
  }
  }

</style>